h1{
    color: rgb(41, 16, 16);
    background-color: brown;
}
h2{
color: azure;
background-color: blueviolet;

}
h3 {
    color: brown;
    background-color: aqua;
}
body{
    background-color: rgb(67, 67, 67);
}